.navigation-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px 100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.navigation-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navigation-item{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18PX;
    font-weight: 500;
}

.navigation-img{
    height: 48px;
}
.navigation-icon
{
    display: flex;
    align-items: center;
    gap: 10px;

}
.hero-container{
    display: flex;
    justify-content: space-between;
    background-color: #dee1e3a4;
    height: 80vh;
    padding: 1px 0 0 100px;
    align-items: center;


}

.hero-container-title
{
    font-size:60px;
    font-family:Lobster;
    margin: 0;
    line-height: 70px;
}

.hero-container-subtext{
    font-size:  19px; 
    font-weight: 450; 
    line-height: 30px;
    margin: 30px 0 0 0;
}

.hero-container-left
{
    display: flex; 
    flex-direction: column;
    justify-content: center;  
    padding: 10px 0 0 40px;

}

.hero-container-button
{
    width: 80%;
    padding: 15px;
    height: 50px;
    background-image: linear-gradient(to right, #FF76B4 , #67D8FF );


}

.hero-container-button:hover
{
    font-weight: 600;
    background: white;
}

.services{
    height: 100vh;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.services-left{
    width: 100%;


}

.services-left-upload
{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 90px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.upload{
    width: 20%;
    padding: 15px;
    height: 50px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #FF76B4 , #67D8FF );

}
.upload:hover{
    font-weight: 600;
    /* width:25%; */
    background: white;
}
/* label{
    background-image: linear-gradient(to right, #FF76B4 , #67D8FF );
    padding: 15px 80px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 600;
  } */
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  
.services-right{
    width: 55%;
    padding: 40px 0 0 0 ;
}

.services-right-bottom{
    display: flex; justify-content: center; flex-direction: column;
}